.projects-container
{
    h1
    {
        text-align: center;
    }
    padding-top: 55px;
    @include e(holder)
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.projects-card
{
    margin-top: 50px;
    max-width: 550px;
    position: relative;
    background-color: white;
    @include e(link)
    {
        
    }

    @include e(img)
    {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    @include e(img-link)
    {
        height: 100%;
        z-index: 5;
        img
        {
            width: 100%
        }
    }

    @include e(text)
    {
        border: 1px solid #ccc;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        .link:hover {
            text-decoration: none;
        }
        h3
        {
        margin-top: 0;
        padding-top: 5px;
        margin-bottom: 0;
        }
        p
        {
            color: black;
        }
        p:first-of-type
        {
            margin-top: 0;
        }
    }

    @include e(text-date)
    {
        text-align: center;
        display: flex;
        justify-content: center;
        p
        {
            width: 70%;
            border-top: 1px solid #ccc;
            margin: 0;   
            padding: 10px;
        }
    }

    @include e(codesample-link)
    {
        position: relative;
        padding: 5px;
        margin-bottom: 10px;
        display:flex;
        text-align: end;
        background-color: white;
        right: 10px;
        bottom: -20px;
        border: 1px solid #ccc;
        border-bottom: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: .4s all;
        overflow: hidden;
        &:hover
        {
            bottom: -10px;
        }
    }
}