.icon-envelope:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-brand:before {
  content: "\e901";
}
.icon-social:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-brand1:before {
  content: "\e902";
}
.icon-social1:before {
  content: "\e902";
}
.icon-phone1:before {
  content: "\e904";
}
.icon-telephone:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e904";
}
.icon-call:before {
  content: "\e904";
}



  