// ==========================================================================
// Base Styles
// ==========================================================================

*, :before, :after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	color :#5271FF;
	height: 100%;
	font-family: $font-family--primary;
	line-height: $base__line;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
















