.navbar-container
{
    height: 50px;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar
{
    display: flex;
    width: 100%;
    z-index: 2;

    div
    {
        width: 50%;
    }

    div:nth-child(1)
    {   
        display: flex;
        justify-content: start;
        h1
        {
            font-size: 2em;
            margin: 0;
            padding-top: 10px;
            color: #5271FF;
        }
    }

    .hamburger
    {
        //padding: 0;
    }

    div:nth-child(2)
    {
        display: flex;
        margin-right: 10px;
        justify-content: end;
    }

    .mobile-menu
    {
        display: flex;
        justify-content: end;
    }

    .navbar-content
    {
        display: none;
    }
}

.navbar-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 0; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #5271FF;
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    .page-links
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a:nth-child(1)
        {
            margin-top: 20px;
        }

        a
        {
            color: white;
            margin: 5px 0;
            padding: 5px 4px;
            margin-right: 17px;
            &::before
            {
                content: "";
                position: relative;
                right: 40px;
                transition: 0.5s;
            }
            &:hover
            {
                padding-right: 2px;
                border-right: 2px solid white;
                &::before
                {
                    content: "->";
                    top: 1px;
                    right: 0px;
                    padding-right: 2px;
                }
            }
            &.active 
            {
                border: 1px solid white;
                border-radius: 5px;
                &::before
                {
                    content: "->";
                    right: 0px;
                    top: 1px;
                    padding-right: 2px;
                }
            }
        }
    }

    &.is-active
    {
        height: 250px;
        border-bottom: 1px solid #5271FF;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.social-links
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;

    & a
    {
        position: relative;
        margin: 15px 0px;
        padding: 8px;
        border-radius: 50%;
    }
    & a:first-of-type
    {
        color: #0077b5;
        background-color: white;
        span
        {
            position: relative;
            bottom: 2px; 
        }
        &:hover
        {
            transition: .85s all;
            transform: rotate(360deg);
        }
    }
    & a:last-of-type
    {
        color: white;
        background-color: #4267B2;
        span
        {
            position: relative;
            left: 0.5px;
            bottom: 0px; 
        }
        &:hover
        {
            transition: 1s all;
            text-shadow:
                //0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #4267B2,
                0 0 82px #4267B2,
                0 0 92px #4267B2,
                0 0 102px #4267B2,
                0 0 151px #4267B2;
        }
    }
}

.social
{
    display: block;
    font-size: 25px;
}